<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-262">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Ready to build the business of your dreams?</h2>
            <a href="/contact" class="cs-button-solid">Let's Get Started</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Offering</span>
            
                <ul class="cs-ul" style="list-style-type:none;">
                    <li class="cs-li">
                        Web Design
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                    </li>
                    <li class="cs-li">
                        Logo Design
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                    </li>
                    <li class="cs-li">
                        Business Cards
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                    </li>
                    <li class="cs-li">
                        Custom Merchandise
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                    </li>
                    <li class="cs-li">
                        Professional Photography
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                    </li>
                </ul>
            <span class="cs-header">Available 24/7, 365!</span>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="../assets/images/backgrounds/hero-blobs-6.svg">
            <source media="(min-width: 601px)" srcset="../assets/images/backgrounds/hero-blobs-7.svg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/backgrounds/hero-blobs-7.svg" alt="appliance" width="275" height="132">
        </picture>
    </div>
</section>
                                