<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1292">
    <div class="cs-container">      
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/d3-logo.svg" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                <em>Empowering small businesses, one site at a time.</em>
                <br />
            </p>
            <p> <br /> </p>
            <a href="mailto:info@mail.com" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/mail.svg" alt="icon" width="16" height="16">
                brian@idesignga.com
            </a>
            <a href="tel:+17066210854" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/phone.svg" alt="icon" width="16" height="16">
                (706) 621 - 0854
            </a>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Services</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="/web-design">Web Design</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="/business-cards">Business Cards</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="/merchandise">Merchandise</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="/photography">Photography</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Other Links</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="/about">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="/rule-of-3">Rule of Three</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="/rule-of-3#faq">FAQ</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="/pricing">Pricing</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Find Us</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="/contact">Contact</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="https://www.facebook.com/idesignusa">Facebook</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link hover-underline-animation" href="https://www.instagram.com/idesignga">Instagram</a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">
            Designed • Developed • Delivered by <a class="cs-copyright-link" href="/"><em>iDesign</em></a>
            | Copyright© 2024. 
            All Rights Reserved.
        </span>
        <a href="" class="cs-copyright-link">Terms of Service</a>
        <a href="" class="cs-copyright-link">Privacy Policy</a>
    </div>
    <!--Floating Cirlces-->
    <div class="cs-floater" aria-hidden="true"></div>
</footer>
                                