---
title: 'Pricing | iDesign'
description: 'Packages starting as low as $0 down and $99/mo!'
preloadImg: '/assets/images/d3-logo.png'
permalink: '/pricing/'
eleventyNavigation:
    key: Name to appear in navigation
    order: 1000
    parent: Optional - Put another page's "key" here to create a dropdown
    hideOnMobile: Optional - set to "true" to hide on devices from, and below, 1023px
    hideOnDesktop: Optional - set to "true" to hide on devices above, and including, 1024px
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/pricing.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Pricing</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/backgrounds/hero-blobs-7.svg">
        <source media="(min-width: 601px)" srcset="/assets/images/backgrounds/hero-blobs-7.svg">
        <img aria-hidden="true" decoding="async" src="/assets/images/backgrounds/hero-blobs-7.svg" alt="hero blobs" loading="eager" width="2500" height="1667">
    </picture>

</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-357">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Flexible Options for Every Business Owner</h2>
            <p class="cs-text">
                At <em>iDesign</em> we make it a priority to open our doors to as many clients as possible. We never want the cost of a project to be the roadblock holding a customer back from building the business of their dreams.
            </p>
        </div>
        <ul class="cs-card-group">
            <!-- Option 1 -->
            <li class="cs-item">
                <h3 class="cs-h3">Starter Bundle </h3>
                <p class="cs-item-text">
                    Just a website that works.
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$99<span class="cs-small">/month</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Tier I Website
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        1 Business Email(s)
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Lifetime Maintenance + Edits
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Included Hosting + Domain
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Annual Site Audit
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Flexible Support
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/x.svg" alt="code stitch icon" width="20" height="20">
                        Logo Design
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/x.svg" alt="code stitch icon" width="20" height="20">
                        Custom Business Cards
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/x.svg" alt="code stitch icon" width="20" height="20">
                        Custom T-Shirts
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/x.svg" alt="code stitch icon" width="20" height="20">
                        Photography Days
                    </li>
                </ul>
                <a href="/contact" class="cs-button-solid cs-button1">Get Started</a>
            </li>
            <!-- Option 2 -->
            <li class="cs-item cs-popular">
                <h3 class="cs-h3">Business Owner Bundle</h3>
                <p class="cs-item-text">
                    For the entrepreneur getting established.
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$199<span class="cs-small">/month</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Tier I or Tier II Website
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Up to 3 Business Email(s)
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Lifetime Maintenance + Edits
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Included Hosting + Domain
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Annual Site Audit
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Priority Support
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Logo Design
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Monthly Custom Business Cards
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                       2 Batches Custom Merchandise
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        2 Photography Days Annually
                    </li>
                </ul>
                <a href="/contact" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 3 -->
            <li class="cs-item">
                <h3 class="cs-h3">Legacy</h3>
                <p class="cs-item-text">
                    For clients who would rather pay as a lump sum.
                </p>
                <div class="cs-option-group">
                    <span class="cs-price">$999<span class="cs-small"> starting</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        All Tiers Available
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        1 Business Email(s) *
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Up to 10 Free Edits
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        +$25/mo Hosting + Domain
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        12-Month Site Audit
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Flexible Support
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        Logo Design
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        First-Batch Custom Business Cards*
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        First-Batch Custom Merchandise*
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="../assets/svgs/check.svg" alt="code stitch icon" width="20" height="20">
                        1 Photography Day
                    </li>
                </ul>
                <a href="/contact" class="cs-button-solid cs-button1">Get Started</a>
            </li>
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}