/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-371 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2em);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1em);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbs-371 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 48px - 56px */
    gap: clamp(3rem, 3vw, 3.5rem);
  }
  #sbs-371 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-371 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-371 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-371 .cs-image-group {
    /* everything in the group is in ems so we can scale them down with this min/max font size tied to the view width */
    font-size: min(2.3vw, 1em);
    width: 36.1875em;
    height: 36.75em;
    position: relative;
    /* sends it to the top above the content */
    order: -1;
  }
  #sbs-371 .cs-splash {
    width: 35.625em;
    height: 36.625em;
    opacity: 0.8;
    position: absolute;
    left: 0.3125em;
    top: 0;
  }
  #sbs-371 .cs-blob {
    width: 24.5em;
    height: 31.0625em;
    position: absolute;
    right: 0em;
    top: 0.625em;
  }
  #sbs-371 .cs-lightning {
    width: 4em;
    height: 6.4375em;
    position: absolute;
    right: 2.5em;
    top: 0.5em;
    transform: rotate(23deg);
  }
  #sbs-371 .cs-left-image {
    width: 13.1875em;
    height: 13.1875em;
    border-radius: 50%;
    /* cover the 1px gap between border and image */
    background-color: #f7f7f7;
    border: 12px solid #f7f7f7;
    /* clips image to the circle */
    overflow: hidden;
    position: absolute;
    left: -0.75em;
    top: 8.1875em;
    z-index: 10;
    animation-name: floatAnimation2;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbs-371 .cs-left-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
  #sbs-371 .cs-bottom-image {
    width: 11.25em;
    height: 180 / 16em;
    border-radius: 50%;
    /* cover the 1px gap between border and image */
    background-color: #f7f7f7;
    border: 12px solid #f7f7f7;
    /* clips image to the circle */
    overflow: hidden;
    position: absolute;
    right: 11.25em;
    bottom: -0.75em;
    z-index: 10;
    animation-name: floatAnimation;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbs-371 .cs-bottom-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
  #sbs-371 .cs-person {
    width: 24.125em;
    height: auto;
    position: absolute;
    right: 2.875em;
    bottom: 4.0625em;
  }
  #sbs-371 .cs-person img {
    width: 100%;
    height: auto;
  }
  #sbs-371 .cs-mask {
    width: 23.9375em;
    height: 10.8125em;
    position: absolute;
    right: -2.0625em;
    bottom: 2.6875em;
    z-index: 2;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-371 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #sbs-371 .cs-ul {
    margin-top: 1rem;
  }
  #sbs-371 .cs-image-group {
    font-size: min(1.1vw, 1em);
    /* prevents flexbox from squishing it */
    flex: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-371 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-371 .cs-title,
  body.dark-mode #sbs-371 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-371 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-371 .cs-left-image,
  body.dark-mode #sbs-371 .cs-bottom-image {
    border-color: var(--accent);
  }
  body.dark-mode #sbs-371 .cs-splash {
    filter: grayscale(0.5) brightness(220%);
  }
  body.dark-mode #sbs-371 .cs-mask path {
    fill: var(--dark);
  }
}
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-343 {
    padding: var(--sectionPadding);
  }
  #services-343 .cs-container {
    width: 100%;
    /* changes to 1440px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-343 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-343 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 1.6vw, 1.25rem);
  }
  #services-343 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 31.25rem;
    border-radius: 0.5rem;
    background-color: #fff;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  #services-343 .cs-item:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-0.4375rem);
  }
  #services-343 .cs-item:hover .cs-picture img {
    opacity: 0.3;
    transform: scale(1.1);
  }
  #services-343 .cs-item:hover .cs-h3 {
    color: var(--primaryLight);
  }
  #services-343 .cs-item:before {
    /* border, done in pseudo so it can sit under the picture */
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid #e8e8e8;
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    background: transparent;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-343 .cs-link {
    text-decoration: none;
    /* 16px - 24px */
    padding-bottom: clamp(1rem, 2.2vw, 1.5rem);
    display: block;
  }
  #services-343 .cs-picture {
    width: 100%;
    height: 15rem;
    /* 16px - 24px */
    margin-bottom: clamp(1rem, 2.2vw, 1.5rem);
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--primaryLight);
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 10;
  }
  #services-343 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s, opacity 0.3s;
  }
  #services-343 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    color: var(--headerColor);
    margin: 0 0 0.75rem 0;
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2vw, 1.5rem);
    transition: color 0.3s;
  }
  #services-343 .cs-item-text {
    /* 14px - 16px  */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    margin: 0;
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2.2vw, 1.5rem);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-343 .cs-container {
    max-width: 90rem;
  }
  #services-343 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #services-343 .cs-item {
    width: 48.9%;
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-343 .cs-item {
    /* we do this so it's stackable. You can add any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw or 23% to get the desired sizes fit 4 in a row and then stack when you add more */
    width: clamp(23.8%, 23vw, 23.95%);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-343 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #services-343 .cs-title,
  body.dark-mode #services-343 .cs-text,
  body.dark-mode #services-343 .cs-h3,
  body.dark-mode #services-343 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-343 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #services-343 .cs-item:before {
    opacity: 0.3;
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-315 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
  }
  #stats-315 .cs-card-group {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 37.5rem;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  #stats-315 .cs-item {
    list-style: none;
    /* set fixed width so they can all be aligned on the left */
    width: 14.6875rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #stats-315 .cs-picture {
    width: 5rem;
    height: 5rem;
    /* 12px - 20px */
    margin-right: clamp(0.75rem, 3vw, 1.25rem);
    border-radius: 50%;
    border: 1px solid #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #stats-315 .cs-icon {
    width: 2.5rem;
    height: auto;
  }
  #stats-315 .cs-flex-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #stats-315 .cs-number {
    font-size: var(--headerFontSize);
    color: var(--headerColor);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0;
    display: block;
  }
  #stats-315 .cs-stat {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats-315 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 2rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-315 .cs-card-group {
    max-width: 80rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #stats-315 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #stats-315 .cs-number,
  body.dark-mode #stats-315 .cs-stat {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #stats-315 .cs-icon {
    /* make so bright it turns white */
    filter: brightness(1000%);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-67 {
    padding: var(--sectionPadding);
  }
  #reviews-67 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-67 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-67 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    column-gap: 1.25rem;
    row-gap: 4rem;
  }
  #reviews-67 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 39.375rem;
    /* pushes up the same amount the cs-item-img overlaps the card */
    margin: 2.5rem 0 0 0;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
  }
  #reviews-67 .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews-67 .cs-item-img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -2.5rem;
  }
  #reviews-67 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bodyTextColor);
    border-bottom: 1px solid #e8e9ec;
  }
  #reviews-67 .cs-info {
    width: 100%;
    /* margin-top auto pushes up against the rest of the card, that way when one card has more text than the other, the reviewer info is always pushed to the bottom and lined up with the rest of them.  This ensures better responsiveness for changing content */
    margin: auto 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #reviews-67 .cs-flex-group {
    width: 100%;
    margin: 0;
  }
  #reviews-67 .cs-name {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    width: 40%;
    margin: 0;
    display: block;
    color: var(--headerColor);
  }
  #reviews-67 .cs-desc {
    font-size: 0.875rem;
    font-weight: 400;
    color: #7d799c;
    display: block;
  }
  #reviews-67 .cs-item-stars {
    width: 6rem;
    height: 1rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-67 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-67 .cs-title,
  body.dark-mode #reviews-67 .cs-text,
  body.dark-mode #reviews-67 .cs-item-text,
  body.dark-mode #reviews-67 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-67 .cs-item {
    background: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #reviews-67 .cs-desc {
    color: var(--primaryLight);
  }
}
